.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #EDF6E5;
}

.navbar {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.navbar-nav li {
  padding-left: 3rem;
}

.divstyle {
  border-top: dotted;
  border-width: 10px;
  border-color: grey;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

@media only screen and (max-width:768px)
{
  .size {
    font-size: 80%;
  }
}
/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
